spring:
  datasource:
    url: jdbc:h2:mem:weather
    driver-class-name: org.h2.Driver
    username: weather
    password: 

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console
